<nav class="nav  navbar-default-fluid navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
         <ul class="nav navbar-nav">
          <!--li calss="nav-item"><a href="/{nome}">Home</a></li-->
             <ul class="nav navbar-nav navbar-right">
                <!--li class="dropdown">
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="true">Servicos <span class="caret"></span></a>
              <ul class="dropdown-menu">
            
              <li><a href="#">Renovacao da Carteirinhas</a></li-->

           
          
 
          
          </ul>
          
        </div>
        <ul class="nav navbar-nav navbar-right">
 <li class="dropdown">
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Servicos </a>
              <ul class="dropdown-menu">
                <li>
</li>
                   <li><a href="#">Solicitar passe livre</a></li>
                   <li><a href="#">Atualizar Cadastro</a></li>
                   <li><a href="#">Renovar Carteira</a></li>



           </ul>
        <li><a href="#">Logout</a></li>
            
                <!--li class="dropdown">
              <a href="{{ path('umespa_user_add') }}" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Login </a>
              <ul class="dropdown-menu">
                <li>
                <!--div class="list-group" -->
               <!--div class="list-group">
                    <form class="form-signin">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <button class="btn btn-sm btn-primary btn-block" type="submit">Logar</button>
                        <a href="#">Nao tenho cadastro</a>
                    </form>
                </div> <!-- /container -->

                </li>
               </ul>
     </div>
    
</nav>        