<style type="text/css">
*{
  padding:0px;
  margin:0px;
}
selection{
  margin:50px auto;
  width:125px;
  height:150px;
}
.rede{
   width:50px;
  height:50px;
  float: left;
  margin-left:20px;
  transition: all 0.4s ease-out;
  border-radius: 50%;
}
.rede#facebook{
  background-color: #2372a3;
}
.icone{
  margin:0px auto;
  padding:10px;
  width:50px;
}
.rede:hover{
  cursor:pointer;
  transform: translateY(-20px);
  box-shadow: 4px 30px 16px 0px rgba(50,50,50,0.45);
}
</style>

<div class="panel panel-default">
  
  <div style="
  position:absolute;
	bottom:0;
	width:100%; "class="panel-footer">
  <div class="container page-left">
 <selection>
                <div class="rede" id="facebook">
                   <img class="icone" src="http://localhost/SymfonyProject/userProject/web/public/img/facebook.png">
                </div>
                </selecton>
  </div>

  </div>
</div>