
/** APP: Ajax Image uploader with progress bar
    Website:packetcode.com
    Author: Krishna TEja G S
    Date: 29th April 2014
***/

/* body{
	background:#ecf0f1;
}

.container-main{
	width:500px;
	margin:40px auto;
	padding:20px;
	background:white;
	border-radius: 5px;
} */

/* Progress Tracker v2 */

/* ol.progress[data-steps="2"] li {
	width: 49%;
  }
  ol.progress[data-steps="3"] li {
	width: 33%;
  }
  ol.progress[data-steps="4"] li {
	width: 24%;
  }
  ol.progress[data-steps="5"] li {
	width: 19%;
  }
  ol.progress[data-steps="6"] li {
	width: 16%;
  }
  ol.progress[data-steps="7"] li {
	width: 14%;
  }
  ol.progress[data-steps="8"] li {
	width: 12%;
  }
  ol.progress[data-steps="9"] li {
	width: 11%;
  }
  .progress {
	width: 100%;
	list-style: none;
	list-style-image: none;
	margin: 20px 0 20px 0;
	padding: 0;
  }
  .progress li {
	float: left;
	text-align: center;
	position: relative;
  }
  .progress .name {
	display: block;
	vertical-align: bottom;
	text-align: center;
	margin-bottom: 1em;
	color: black;
	opacity: 0.3;
  }
  .progress .step {
	color: black;
	border: 3px solid silver;
	background-color: silver;
	border-radius: 50%;
	line-height: 1.2;
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	z-index: 0;
  }
  .progress .step span {
	opacity: 0.3;
  }
  .progress .active .name,
  .progress .active .step span {
	opacity: 1;
  }
  .progress .step:before {
	content: "";
	display: block;
	background-color: silver;
	height: 0.4em;
	width: 25%;
	position: absolute;
	bottom: 0.6em;
	left: 0;
	z-index: -1;
  }
  .progress .step:after {
	content: "";
	display: block;
	background-color: silver;
	height: 0.4em;
	width: 25%;
	position: absolute;
	bottom: 0.6em;
	right: 0;
	z-index: -1;
  }
  .progress li:first-of-type .step:before {
	display: none;
  }
  .progress li:last-of-type .step:after {
	display: none;
  }
  .progress .done .step,
  .progress .done .step:before,
  .progress .done .step:after,
  .progress .active .step,
  .progress .active .step:before {
	background-color: yellowgreen;
  }
  .progress .done .step,
  .progress .active .step {
	border: 3px solid yellowgreen;
	} */
	
	/* progresso novo */
	.one, .two, .three,.four{
  position:absolute;
	margin-top:-10px;
	z-index:1;
	height:40px;
	width:40px;
	border-radius:25px;
	
}


.one{
	left:0%;
	text-align: center;	
  color: white;
	padding-top: 10px;
	margin-bottom: 1em;
}
.two{
	left:25%;
	color: white;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 1em;
}
.three{
	left:50%;
	color: white;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 1em;
}
.four{
	color: white;
	left:73%;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 1em;
	
}
.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}