{# {% extends 'layout.html.twig' %} #}


{# {% block body %}
{% endblock %} #}
 <div class="container">        
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="text-left"> 
 <p class="padding-top-30"><h2 class="text-default">Olá <b>{{nome}}</b></h2></p>
<p >Você se cadastrou recentemente em nosso site para adquirir a Carteira de Identificação Estudantil!</br>
Para dar prosseguimento a seu cadastro você precisa realizar a verificação do e-mail utilizado. Clique no botão abaixo para realizar a verficação.</p>
<p>	<a class="btn btn-success btn-lg" href="http://localhost/SymfonyProject/userProject/web/app_dev.php/test">Verificar E-mail</a></p>
<p>Você só poderá dar prosseguimento ao seu cadastro após a verificação do e-mail.</br>
Caso haja dúvidas, entre em contato conosco Telefone: (48) 3375-9065</br>
Horário de Atendimento de Segunda à Sexta  (exceto feriados) das 8h às 12h e das 13h ás 17hras.</br>
Desconsidere esta mensagem caso não tenha realizado nenhuma solicitação. </p>
<p>Atenciosamente, <br>UMESPA - União Municipal dos Estudantes de Parauapebas</td> </p> 
</div> 
</div>
</div>
</div>      
    
 {# !-- fichier template.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="#" />
    <title>Recover password</title>
</head>
<body>
<p>
    Vous pouvez dès maintenant vous connecter <a href="#">ici</a>
    avec vos identifiants
 
  
 
</p>
 
<p>
<div>
 
</div>
    A bientôt !
</p>
</body>
</html> #}