{% extends 'layout.html.twig' %}


{% block body %}
{{ parent()}}

	<div  class="container" style="margin-top: 101px;">	
		<div class="panel panel-default">    		
			{# <div class="panel-heading"> <h4> Ola <strong>Ibones Cavalcante</strong> Prosiga com os Dados Solicitados</h4> </div> #}
    {# <div class="box-form panel-body"> #}

     
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="text-left"> 
 <p class="padding-top-30"><h2 class="text-default">Olá <b>Ibones  Cavalcante</b></h2></p>
<p >Seu cadastro esta concluido, suas informaçoes estarão sendo enviadas para analise, Pode acompanha no menu Acompanhar pedido  </br>
{# sera cobrado uma taxa de R$ 2,50(Dois Reais e cinquenta centavoas) a mais no valor da carteirnha. #}
{# <p>	<a class="btn btn-success btn-lg" href='{{token}}'>Verificar E-mail</a></p>
<p>Caso nao queira voce pode bosca la na sede da UMESPA - União Municipal dos Estudantes de Parauapebas </br>
<p>Rua XXXXXXXXXXXXX numer XX bairro XXXXX </br> #}

Caso haja dúvidas, entre em contato conosco Telefone: (94) 3356-0000</br>
Horário de Atendimento de Segunda à Sexta  (exceto feriados) das 8h às 12h e das 13h ás 17hras.</br>
<p>Atenciosamente, <br>UMESPA - União Municipal dos Estudantes de Parauapebas</td> </p> 
</div> 
</div>
</div>
</div>    
</div>  
{% endblock %}

    
 {# !-- fichier template.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="#" />
    <title>Recover password</title>
</head>
<body>
<p>
    Vous pouvez dès maintenant vous connecter <a href="#">ici</a>
    avec vos identifiants
 
  
 
</p>
 
<p>
<div>
 
</div>
    A bientôt !
</p>
</body>
</html> #}