{% extends 'layout.html.twig' %}

{% block body %}
{{parent()}}
<div class="conteudo">
            
    <div class="row">
        <div class="col-md-8 col-md-offset-2  page-header">
            <h2 class="text-center padding-bottom-20">Lei da Meia Entrada?</h2>
            <p class="padding-bottom-20">A partir de agora, com a <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2013/lei/l12933.htm" target="_blank">lei  Nº 12.933 26/12/13</a> , a meia entrada e os direitos dos estudantes ganham um novo aliado: o documento padronizado do estudante!</p>
    
            <p class="padding-top-20">Com a promulgação da lei pela então presidenta Dilma Rousseff, inicia-se uma nova era na defesa do estudante brasileiro. A nível federal, o benefício da meia entrada deve ser reconhecido e concedido por todas as entidades que estejam realizando qualquer tipo de evento enquadrando o acesso a salas de cinema, cineclubes, teatros, espetáculos musicais e circenses e eventos educativos, esportivos, de lazer e de entretenimento.</p>
            <p class="padding-bottom-20">Caso não haja cumprimento da lei, você pode inclusive solicitar o seu reembolso a partir de um processo judicial ou em contato com órgãos como o PROCON. Não sabe como fazer isso? Todas a entidades estudantis estão unidas, prontas e dispostas à ajuda-lo!</p>
            <p class="padding-top-20">Com a formalização da meia-entrada, o benefício agora é válido em todo o território brasileiro. Além disso, alguns estados e municípios possuem leis e decretos regionais que garantem ainda mais benefícios locais para os estudantes.</p>
            <p><b>Por quê mudou?</b> Até então, eram apresentados uma infinidade de documentos não certificados aos estabelecimentos. Isso gerava desconfiança e ainda abria espaço para fraudes. Pessoas não autorizadas usufruíam do benefício, aumentando os custos até mesmo da meia-entrada e prejudicando os verdadeiros estudantes. </p>
            <p class="padding-bottom-20"><b>O que mudou?</b> Agora, o documento do estudante é padronizado, certificado digitalmente e seguro. Fornecendo todas as informações de identificação do estudante e um banco de dados que pode ser acessado online, os estabelecimentos ficam imunes ás fraudes e o estudante se torna um verdadeiro protagonista social na defesa de seus direitos. </p>
            <p class="padding-top-20"><b>Quem tem Direito?</b>  Todos os estudantes regularmente matriculados nos níveis de educação e ensino previstos no 
            <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L9394.htm#titulov" target="_blank">Título V da Lei no 9.394, de 20 de dezembro de 1996</a>.</p>
            <p>São eles: Alunos de Ensino Fundamental, Médio, Técnico e Superior (presenciais ou EaD) de instituições reconhecidas pelo MEC.</p>
            <p><b>ATENÇÃO!</b> Alunos de cursos livres, de idiomas e pré-vestibular não se incluem para recebimento do benefício. No entanto, algumas leis municipais e estaduais podem incluir essa categoria de estudantes em seus programas locais. Para esses casos, o documento nacional padronizado do estudante não é válido e a existência de um documento para benefício regional deve ser verificado com a prefeitura ou governo estadual responsável.</p>
        </div>
    </div>

</div>
{% endblock %}