{% extends "::base.html.twig" %}

{% block title %}umespaUserBundle:AlunoController:viewAluno{% endblock %}

{% block body %}
<h1>Welcome to the AlunoController:viewAluno page</h1>

<div class="col-md-9">

	
		<h2>{{ aluno }}</h2>


</div>



{% endblock %}
