{% extends 'layout.html.twig' %}

{% block body %}
{{parent()}}
<div  style="margin-top: 101px;">
<div class="">
<div class="" style="height:400px; width:100%;padding: 0 0px; background-color: #EEE8AA;">
<br><br>
<div class="pull-right text-center">
				<img class="pull-right" src="https://d3foq9otpyy3s4.cloudfront.net/img/documento-topo-2018.png">
				<h1 class="pull-right">Carteirinha do Estudante.</h1>
				<h2 class="pull-right">A UMESPA disponibiliza emissão online</h2>
                <h3 class="pull-right">Solicite agora mesmo sua carteirinha estudantil</h3>

</div>
				<div class="pull text-center">
                <a class="btn btn-lg btn-success" href="{{path('umespa_criaConta',{'cad':'Login'})}}" role="button">Solicite agora</a>
				</div>
			</div>
            </div>
            </div>
<!--div class="sow-image-container" style="margin-top: 5.7em;">
<img src="{{ asset('public/img/body.png') }}" class="img-responsive" >
</div-->





{% endblock %}

